@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900|Rubik:300,400,500,700,900");

* {
  -webkit-font-smoothing: antialiased;
  -webkit-text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
}
body {
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  font-weight: 400;
  background: #fff;
  color: #000000;
}
div {
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

h1 {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -webkit-text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  margin-right: 700px;
}

.button {
  display: inline-block;
  background: #97cbfa;
  border-radius: 5px;
  height: 48px;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.button a {
  display: block;
  font-size: 18px;
  font-weight: 400;
  line-height: 48px;
  color: #ffffff;
  padding-left: 35px;
  padding-right: 35px;
}
.button:hover {
  opacity: 0.8;
}

.contact_info {
  width: 100%;
  padding-top: 70px;
}
.contact_info_item {
  width: calc((100% - 60px) / 3);
  height: 100px;
  border: solid 1px #e8e8e8;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  padding-left: 32px;
  padding-right: 15px;
}
.contact_info_image {
  width: 35px;
  height: 35px;
  text-align: center;
}
.contact_info_image img {
  max-width: 100%;
}
.contact_info_content {
  padding-left: 17px;
}
.contact_info_title {
  font-weight: 500;
}
.contact_info_text {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
}

/*********************************
4.1 Contact Form
*********************************/

.contact_form {
  padding-top: 85px;
}

.contact_form_title {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 37px;
}
.contact_form_inputs {
  margin-bottom: 30px;
}
.input_field {
  width: calc((100% - 60px) / 3);
  height: 50px;
  padding-left: 25px;
  border: solid 1px #e5e5e5;
  border-radius: 5px;
  outline: none;
  color: #0e8ce4;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.input_field:focus,
.text_field:focus {
  border-color: #b2b2b2;
}
.input_field:hover,
.text_field:hover {
  border-color: #b2b2b2;
}
.input_field::-webkit-input-placeholder,
.text_field::-webkit-input-placeholder {
  font-size: 16px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.3);
}
.input_field:-moz-placeholder,
.text_field:-moz-placeholder {
  font-size: 16px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.3);
}
.input_field::-moz-placeholder,
.text_field::-moz-placeholder {
  font-size: 16px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.3);
}
.input_field:-ms-input-placeholder,
.text_field:-ms-input-placeholder {
  font-size: 16px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.3);
}
.input_field::input-placeholder,
.text_field::input-placeholder {
  font-size: 16px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.3);
}
.text_field {
  width: 100%;
  height: 160px;
  padding-left: 25px;
  padding-top: 15px;
  border: solid 1px #e5e5e5;
  border-radius: 5px;
  color: #0e8ce4;
  outline: none;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.contact_submit_button {
  padding-left: 35px;
  padding-right: 35px;
  color: #ffffff;
  font-size: 18px;
  border: none;
  outline: none;
  cursor: pointer;
  margin-top: 24px;
}
.panel {
  width: 100%;
  height: 50px;
  background: #fafafa;
  margin-top: 120px;
}

@media only screen and (max-width: 991px) {
  .contact_info_item {
    width: 100%;
    margin-bottom: 30px;
  }
  .contact_info_item:last-child {
    margin-bottom: 0px;
  }
}

@media only screen and (max-width: 767px) {
  .input_field {
    margin-bottom: 30px;
    width: 100%;
  }
  .input_field:last-child {
    margin-bottom: 0px;
  }
}

@media only screen and (max-width: 575px) {
  .contact_submit_button {
    font-size: 13px;
    padding-left: 25px;
    padding-right: 25px;
  }
}

#content {
  text-align: center;
  padding-top: 8%;
  color: white;
}
h1 {
  padding-left: 17%;
  font-family: Arial;
  font-size: 10em;

  margin-right: 20%;
}
hr {
  border-top: 1px solid #f8f8f8;
  border-bottom: 1px solid rgb(0, 0, 0, 0.2);
}

a {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  /* text-decoration: none; */
}

nav a {
  text-decoration: none;
  font-size: 17px;
  padding-left: 10px;
  padding-right: 10px;
}

/* Dropdown Button */
.dropbtn {
  background-color: #04aa6d;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

#mainNavbar {
  font-size: 1.5rem;
  font-weight: 100;
}

#mainNavbar .nav-link {
  color: black;
}

#mainNavbar .navbar-brand {
  color: #ea1c2c;
  font-size: 1.5rem;
}
.blurb p {
  color: #f498b8;
  font-weight: 100;
  font-size: 1.125rem;
  line-height: 2;
}
nav {
  background-color: rgba(0, 0, 0, 0.747);
  text-align: center;
  padding-top: 14px;
  padding-bottom: 14px;
}
#logo {
  width: 20px;
  height: 20px;
  margin-bottom: 5px;
}
#btn3 {
  margin-right: 50px;
}
#heading3 {
  margin-right: 400px;
}
